*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #080808;
}

#index-header{
    width: 100%;
    height: 100vh;
    background-image: url(images/light_background.png);
    background-size: cover;
    background-position: center;
}

#index-header{
    width: 100%;
    height: 100vh;
    background-color: white;;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 25px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 155px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3d82c2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 14%;
    font-size: 30px;
    position: absolute;
    padding: 2rem;
}

.header-text h1{
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #3d82c2;
}

/* .header-text ol{
    width: 35vw;
    font-size: 32px;
    font-weight: 300;
    list-style: none;
    --height: 3.8rem;
    height: var(--height);
    line-height: var(--height);
    overflow: hidden;
} */

.typed-container {
    max-width: 35vw;       /* half the page width */
    margin: 0 auto;        /* center it */
    text-align: left;      /* or center if you prefer */
    line-height: 1.0;
    white-space: normal;   /* allow wrapping */
    word-break: break-word;
}

.typed-text{
    font-size: 34px;
    font-weight: 300;
}

.cursor{
    display: inline-block;
    color: #5b82d1;
    animation: blink 0.7s infinite;
    font-weight: 400;
    font-size: 40px;
}

@keyframes blink {
    0%, 100% {opacity: 1; }
    50% {opacity: 0; }
}

.highlight-blue {
  background-color: #c3deff;
  padding: 0 4px;
  border-radius: 3px;
}

.highlight-pink {
  background-color: #feb8b8;
  padding: 0 4px;
  border-radius: 3px;
}

/* about */

#about{
    padding: 30px 0;
    color: #000000;
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 40%;
}

.about-col-1 img{
    width: 95%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 55%;
}

.about-col-2 p.italicize{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 5px;
}

.about-col-2 p{
    font-size: 18px;
    font-weight: 300;
}

.sub-title{
    font-size: 48px;
    font-weight: 600;
    color: #3d82c2;
    text-align: center;
}

.sub-title.about{
    text-align: left;
    padding-bottom: 15px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles p{
    font-size: 18px;
    font-weight: 500;
}

.tab-links{
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3d82c2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
}

.tab-contents ul li span{
    color: #3d82c2;
    font-size: 18px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* portfolio*/

#portfolio{
    padding: 25px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.art-subtitle{
    font-size: 48px;
    font-weight: 600;
    color: #f2a6a6;
    text-align: center;
    margin-top: 15px;
}

.layer{
    width: 100%;
    height: 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.projects-layer{
    background: linear-gradient(rgba(0,0,0,0.6), #3d82c2);
}

.art-layer{
    background: linear-gradient(rgba(0,0,0,0.6), #f3848a);
}

.layer h3{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}

.layer p{
    font-weight: 300;
    font-size: 18px;
    color: #FFF;
}

.layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
}

.projects-layer a{
    color: #3d82c2;
}

.art-layer a{
    color: #f3848a;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    margin-bottom: 20px;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 520;
    background: #00091c;
    color: white;
    transition: background 0.4s
}

.btn-blue:hover{
    background: #3d82c2;
}

.btn-pink:hover{
    background: #f2a6a6;
}

.divider{
    width: 33%;
    margin: 20px auto;
    border: none;
    height: 2px;
    background-color: #06215a67;
}

.contact-subtitle{
    text-align: center;
    font-size: 36px;
    font-weight:300;
    margin-top: 20px;
}

.link-bar{
    text-align: center;
    font-size: 24px;
    margin: 30px auto;
    font-weight: 300;
}

.link-bar a{
    color: #3d82c2;
    text-decoration: none;
}

.link-bar .semicolon{
    color: #00091c;
    font-weight: 700;
}

.footer .copyright{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: #00091c;
    margin-bottom: 50px;
}

.footer p{
    text-align: center;
    color: #3d82c2;
    font-size: 15px;
}

/* ABOUT ME PAGE */
.about-container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 25px 5%;
}

.about-hero{
    /* max-width: auto; */
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.about-hero h1{
    font-size: 55px;
    color: #3d82c2;
    text-align: center;
}

.profile-pic {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    overflow: hidden; /* ensures the image stays circular */
    margin: 2rem auto 1.5rem auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* .arrow-img {
  position: absolute;
  left: 20px;
  top: 230px;
  width: 80px;
} */

.stars {
    width: 40px;
    margin: 1rem auto;
}

.intro-section, .library-section, .summary-section{
    font-size: 18px;
    margin-bottom: 3rem;
    font-weight: 400;
    line-height: 1.5;;
}

.intro-section {
    display: flex;
    justify-content: center;    
    max-width: 650px;
    margin-bottom: 2rem;
    margin: 0 auto 2rem auto;
    text-align: left;
}

.intro-section p{
    line-height: 1.3;
    margin-bottom: 1rem;
}

.intro-text h3{
    font-size: 19px;
    color: #3d82c2;
    margin-bottom: 1rem;
    font-weight: 500;
}

.library-section {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0rem;
}

.library-img {
    flex: 0 0 40%;
}

.library-img img {
    width: 95%;
    height: auto;
    /* display: block; */
}

.library-text {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
    margin-top: 2rem;
}

.library-text p {
    margin: 1rem 0 1rem 2rem;
}

.summary-section {
    text-align: center;
}

/* @media (max-width: 768px) {
    .library-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    .library-text {
    text-align: center;
    }

    /* .arrow-img {
    display: none;
    } */

    /* .stars-img {
    display: none;
    }
} */

/* .about-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    padding: 2rem;
    flex-direction: column;
}


.intro-section, .library-section, .summary-section{
    margin-bottom: 3rem;
}

.arrow-text{
    text-align: center;
    margin-top: 1rem;
    font-size: 16px;
} */

/* .arrow{
    width: 60px;
    height: 60px;
    position: absolute;
    left: -40px;
    top: 80px;
} */

/* .stars {
    width: 40px;
    margin: 1rem auto;
} */

/* .library-layout{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.library-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
  flex-shrink: 0;
  /* overflow: hidden; 
}


.library-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  display: block;
}

@media (max-width: 768px) {
  .library-layout {
    flex-direction: column;
    align-items: center;
  }

  .library-image {
    width: 100%;
    height: 180px;
  }
} */

/* .library-col-1{
    flex-basis: 40%;
}

.library-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.library-col-2{
    flex-basis: 55%;
}

.library-col-2 p{
    font-size: 18px;
} */

.case-study-container {
    padding: 0 5%;
    max-width: 1100px;
    margin: 0 auto;
}

.case-study-container ul li {
    margin-left: 2rem;
}

.quote-box {
    background: linear-gradient(to right, #c3deff, #f2f8ff);  
    /* background-color: #c3deff; */
    border-left: 4px solid #3d82c2;
    padding: 1rem 1.5rem;
    margin: 2rem 0;
    font-style: italic;
    font-size: 1.1rem;
}


/* whoop case study page */

.project-overview, .project-details, .project-research, 
.user-research, .next-step {
    margin-bottom: 3rem;
}

.project-overview, .project-details, .project-research, 
.user-research, .next-step p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
}

.whoop-images {
    margin: 1rem 0;
}

.whoop-images img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
}

.w2w-images {
    margin: 1rem 0;
}

.w2w-images img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
}

.w2w-title-img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
}

.image-wrapper {
  max-height: 700px;              /* visible portion */
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* when expanded */
.image-wrapper.expanded {
  max-height: 2000px;             /* large enough for full image */
}

/* optional fade at bottom */
.image-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  background: linear-gradient(
    to bottom,
    rgba(232, 220, 220, 0),
    rgba(255, 255, 255, 0.762)
  );
  pointer-events: none;
}

.image-wrapper.expanded::after {
  display: none;
}

.image-wrapper {
  position: relative;
}

.toggle-btn {
  margin-top: 12px;
  background: none;
  border: none;
  color: #ff6b6b;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.image-reveal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding {
    padding-bottom: 1.5rem;
}
.creative-media-container {
    padding: 0 5%;
    max-width: 1100px;
    margin: 0 auto;
}

.creative-media-video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
}

.creative-media-video-card {
    background: #1c1c25;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
}

.creative-media-video-card:hover {
    transform: scale(1.05);
}

video {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 9/16; /* good for vertical TikToks/Reels */
    object-fit: cover;
    background: #000;
}

.caption {
    padding: 12px;
    font-size: 0.95rem;
    color: #d4d4d8;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 177.78%; /* 16:9 aspect ratio (shorter than TikTok style) */
    overflow: hidden;
    border-radius: 12px; /* optional rounded corners */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


/* MOVIES VISUALIZATION PROJECT */

.film-scene {
    width: 100%;
    height: 200vh;
    position: relative;
    background-color: #ffffff;
}

.film-container {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to bottom, #eef8ff, #ffffff);
}

#scroll-spacer {
  height: 150vh;
}

#film-roll {
  width: 80vmin;
  height: 80vmin;
  position: relative;
  z-index: 1; /* keep the reel below the rising section */
}

#rising-section {
  position: fixed;
  left: 50%;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  background: rgb(255, 255, 255);
  z-index: 99;
  transform: translateX(-50%) translateY(100vh);
}

/* .film-reel {
  position: relative;
  width: 80vw;
  height: 80vw;
  max-width: 1000px;
  max-height: 1000px;
} */

.reel-outer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at top left, #444, #111);
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 40px 80px rgba(0,0,0,0.6); */
}

.reel-inner {
  width: 33%;
  height: 33%;
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel-core {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  border: 6px solid #666;
}

/* .reel-text {
  position: absolute;
  inset: 0;
  pointer-events: none;
} */

.film-strip,
.spokes {
  position: absolute;
  inset: 0;
}

.spoke {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: calc(50% - 16%);
  background: #777;
  transform-origin: left center;
}




/* light blue: c3deff
yellow: fcd98b
gray blue: 3d82c2
dark navy: 00091c
pink: f2a6a6
-------
alternative blue: 1f4790 */