*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #080808;
}

#index-header{
    width: 100%;
    height: 100vh;
    background-image: url(images/light_background.png);
    background-size: cover;
    background-position: center;
}

#index-header{
    width: 100%;
    height: 100vh;
    background-color: white;;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 25px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 155px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3d82c2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 14%;
    font-size: 30px;
    position: absolute;
    padding: 2rem;
}

.header-text h1{
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #3d82c2;
}

/* .header-text ol{
    width: 35vw;
    font-size: 32px;
    font-weight: 300;
    list-style: none;
    --height: 3.8rem;
    height: var(--height);
    line-height: var(--height);
    overflow: hidden;
} */

.typed-container {
    max-width: 35vw;       /* half the page width */
    margin: 0 auto;        /* center it */
    text-align: left;      /* or center if you prefer */
    line-height: 1.0;
    white-space: normal;   /* allow wrapping */
    word-break: break-word;
}

.typed-text{
    font-size: 34px;
    font-weight: 300;
}

.cursor{
    display: inline-block;
    color: #5b82d1;
    animation: blink 0.7s infinite;
    font-weight: 400;
    font-size: 40px;
}

@keyframes blink {
    0%, 100% {opacity: 1; }
    50% {opacity: 0; }
}

.highlight-blue {
  background-color: #c3deff;
  padding: 0 4px;
  border-radius: 3px;
}

.highlight-pink {
  background-color: #feb8b8;
  padding: 0 4px;
  border-radius: 3px;
}

/* about */

#about{
    padding: 30px 0;
    color: #000000;
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 40%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 55%;
}

.about-col-2 p{
    font-size: 18px;
}

.sub-title{
    font-size: 48px;
    font-weight: 600;
    color: #3d82c2;
    text-align: center;
}

.sub-title.about{
    text-align: left;
    padding-bottom: 15px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3d82c2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.tab-contents ul li span{
    color: #3d82c2;
    font-size: 18px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* portfolio*/

#portfolio{
    padding: 25px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.art-subtitle{
    font-size: 48px;
    font-weight: 600;
    color: #f2a6a6;
    text-align: center;
    margin-top: 15px;
}

.layer{
    width: 100%;
    height: 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.projects-layer{
    background: linear-gradient(rgba(0,0,0,0.3), #3d82c2);
}

.art-layer{
    background: linear-gradient(rgba(0,0,0,0.3), #f3848a);
}

.layer h3{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}

.layer p{
    font-weight: 300;
    font-size: 18px;
    color: #FFF;
}

.layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
}

.projects-layer a{
    color: #3d82c2;
}

.art-layer a{
    color: #f3848a;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    margin-bottom: 20px;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 520;
    background: #00091c;
    color: white;
    transition: background 0.4s
}

.btn-blue:hover{
    background: #3d82c2;
}

.btn-pink:hover{
    background: #f2a6a6;
}

.divider{
    width: 33%;
    margin: 20px auto;
    border: none;
    height: 2px;
    background-color: #06215a67;
}

.contact-subtitle{
    text-align: center;
    font-size: 36px;
    font-weight:300;
    margin-top: 20px;
}

.link-bar{
    text-align: center;
    font-size: 24px;
    margin: 30px auto;
    font-weight: 300;
}

.link-bar a{
    color: #3d82c2;
    text-decoration: none;
}

.link-bar .semicolon{
    color: #00091c;
    font-weight: 700;
}

.footer .copyright{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: #00091c;
    margin-bottom: 50px;
}

.footer p{
    text-align: center;
    color: #3d82c2;
    font-size: 15px;
}

/* ABOUT ME PAGE */
.about-hero{
    max-width: 900px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-hero h1{
    font-size: 60px;
    color: #3d82c2;
    text-align: center;
}

.profile-pic{
    width: 40%;
    margin: 10px;
    padding: 15px;
}

.arrow-img {
    position: absolute;
    left: -50px;
    top: 230px;
    width: 80px;
}

.stars {
    width: 40px;
    margin: 1rem auto;
}

.intro-section {
    display: flex;
    justify-content: center;    
    max-width: 650px;
    margin-bottom: 2rem;
    margin: 0 auto 2rem auto;
    text-align: left;
}

.intro-section p{
    line-height: 1.3;
    margin-bottom: 1rem;
}

.intro-text h3{
    font-size: 19px;
    color: #3d82c2;
    margin-bottom: 1rem;
    font-weight: 500;
}


/* .about-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    padding: 2rem;
    flex-direction: column;
}


.intro-section, .library-section, .summary-section{
    margin-bottom: 3rem;
}

.arrow-text{
    text-align: center;
    margin-top: 1rem;
    font-size: 16px;
} */

/* .arrow{
    width: 60px;
    height: 60px;
    position: absolute;
    left: -40px;
    top: 80px;
} */

/* .stars {
    width: 40px;
    margin: 1rem auto;
} */

/* .library-layout{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.library-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
  flex-shrink: 0;
  /* overflow: hidden; 
}


.library-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  display: block;
}

@media (max-width: 768px) {
  .library-layout {
    flex-direction: column;
    align-items: center;
  }

  .library-image {
    width: 100%;
    height: 180px;
  }
} */

/* .library-col-1{
    flex-basis: 40%;
}

.library-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.library-col-2{
    flex-basis: 55%;
}

.library-col-2 p{
    font-size: 18px;
} */



/* light blue: c3deff
yellow: fcd98b
gray blue: 3d82c2
dark navy: 00091c
pink: f2a6a6
-------
alternative blue: 1f4790 */